<!DOCTYPE html>
<html>
  <head>
    <title>Tearoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/public_header' %>
      <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <!--フッター-->
    <footer class="p-5 bg-light">
      <div class="container">
    	  <div class="row">
      	  <!--要素の中央寄せ-->
        	<div class="mx-auto">
        	<p>tearoom.com</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
